# Lists, Tuples, and Sets : Practice Assignment

### Dear students these question will help you build a very strong foundation on data structures specificaly as data analyst

Each problem has:
- **Problem statement**
- **What the expected answer should look like** (an example of the final result/state)
- An **empty code cell** for you to solve it (look for `# write your code here`).

> Tip: Run cells independently.

### List Q1

**Problem:** Write a program to retrieve the value 4 from the list `my_list = [[1, 2], [3, 4], [5, 6]]` using indexing.

**Expected answer should look like (example):**
```
4
```

In [ ]:
# write your code here
my_list = [[1, 2], [3, 4], [5, 6]]
my_list[1][1]

4

### List Q2

**Problem:** Write a program to reverse the list `[10, 20, 30, 40, 50]` using slicing and explain how the slicing parameters achieve the result.

**Expected answer should look like (example):**
```
[50, 40, 30, 20, 10]  # slicing: lst[::-1] (start:end:step=-1)
```

In [ ]:
# write your code here
lst = [10,20,30,40,50]
print(lst[::-1])

[50, 40, 30, 20, 10]

### List Q3

**Problem:** Write a program to extract every second element from the list `[1, 2, 3, 4, 5, 6, 7, 8]` using slicing.

**Expected answer should look like (example):**
```
[2, 4, 6, 8]
```

In [ ]:
# write your code here
lst = [1, 2, 3, 4, 5, 6, 7, 8]
res = []
for i in lst:
  if i%2 == 0:
    res.append(i)
print(res)

[2, 4, 6, 8]

### List Q4

**Problem:** Write a program to replace the middle two elements of the list `[10, 20, 30, 40, 50]` with `[99, 100, 101]` using slicing.

**Expected answer should look like (example):**
```
[10, 20, 99, 100, 101, 50]
```

In [ ]:
# write your code here
lst1 = [10,20,30,40,500]
lst2 = [99,100,101]
lst1[0:2]+lst2+lst1[]

TypeError: can only concatenate list (not "int") to list

### List Q5

**Problem:** Write a program to transform the list `[1, 2, 3, 4, 5]` into `[1, 99, 100, 101, 4, 5]` by modifying a slice.

**Expected answer should look like (example):**
```
[1, 99, 100, 101, 4, 5]
```

In [ ]:
# write your code here
lst = [1, 2, 3, 4, 5]
lst[1]=99
lst[2]=100
lst.insert(3,101)
print(lst)

[1, 99, 100, 101, 4, 5]

### List Q6

**Problem:** Write a program to concatenate two lists without using the `+` operator.

**Expected answer should look like (example):**
```
[...concatenated items...]  # e.g., via unpacking or extend
```

In [ ]:
# write your code here
lst = [1,2,3,4]
lst1 = [5,6,7,8]
lst.extend(lst1)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8]

### List Q7

**Problem:** Write a program to demonstrate how the `extend` method behaves if the argument is a string using `my_list = [1, 2, 3]`.

**Expected answer should look like (example):**
```
[1, 2, 3, 'a', 'b', 'c']  # e.g., my_list.extend('abc') adds each char
```

In [ ]:
# write your code here
my_list = [1,2,3]
my_list.extend('abc')
my_list

[1, 2, 3, 'a', 'b', 'c']

### List Q8

**Problem:** Write a program that uses `extend` to merge two lists in such a way that duplicates from the second list are not added.

**Expected answer should look like (example):**
```
[merged_unique_list]  # second list's items only if not already present
```

In [80]:
# write your code here
lst_1 = [1,2,3,4,5]
lst2 = [2,6,7,8,9,1]
new_lst = []
for i in lst2:
  if i not in lst_1:
    new_lst.append(i)
lst_1.extend(new_lst)
print(lst_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Q9

**Problem:** Write a program to create a list of 100 zeros using repetition and then replace every 10th element with 1.

**Expected answer should look like (example):**
```
[1 appears at indices 9,19,29,...]
```

In [ ]:
# write your code here
lst = [i*0 for i in range(1,101)]
print(len(lst))
for i in range(1,len(lst)):
  if i%10 == 0:
    lst[i] = 1

print(lst)

100
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### List Q10

**Problem:** Write a Python command without using a loop to check if **all** the elements of `[2, 4]` are present in the list `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
True  # e.g., set([2,4]).issubset([1,2,3,4,5])
```

In [1]:
# write your code here
lst = [1,2,3,4,5]
subset = [2,5]
set(subset).issubset(lst)

True

### List Q11

**Problem:** Write a program to use `not in` to filter out all the elements of a list that exist in another list, e.g., removing elements in `[2, 4]` from `[1, 2, 3, 4, 5]`.

**Expected answer should look like (example):**
```
[1, 3, 5]
```

In [6]:
# write your code here
lst = [1,2,3,4,5]
lst_2 = [2,4]
res_lst = []
for i in lst:
  if i not in lst_2:
    #print(i)
    res_lst.append(i)
print(res_lst)

[1, 3, 5]

### List Q12

**Problem:** Create a list of integers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [7]:
# write your code here
lst = [i for i in range(1,11)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Q13

**Problem:** Add an element to the end of a list using `append()`.

**Expected answer should look like (example):**
```
[...original..., 99]
```

In [8]:
# write your code here
lst = [12,3,4,5]
lst.append(99)
print(lst)

[12, 3, 4, 5, 99]

### List Q14

**Problem:** Insert an element at the second position in a list.

**Expected answer should look like (example):**
```
[first, NEW, rest...]
```

In [9]:
# write your code here
lst = ['first','second','third']
lst.insert(1,'New')
print(lst)

['first', 'New', 'second', 'third']

### List Q15

**Problem:** Remove an element from a list using `remove()`.

**Expected answer should look like (example):**
```
[list without that value]
```

In [11]:
# write your code here
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### List Q16

**Problem:** Remove and return the last element of a list using `pop()`.

**Expected answer should look like (example):**
```
popped_value  # and list becomes [..., without last]
```

In [12]:
# write your code here
lst = [8,9,22,32,44,51,67]
lst.pop()
print(lst)

[8, 9, 22, 32, 44, 51]

### List Q17

**Problem:** Find the length of a list **without** using the `len()` function.

**Expected answer should look like (example):**
```
10  # manual count with loop
```

In [13]:
# write your code here
lst = [1,2,3,4,5]
length = 0
for i in lst:
  length += 1
print(length)

5

### List Q18


**Problem:** Slice a list to get the first 5 elements.

**Expected answer should look like (example):**
```
lst[:5] -> first five elements
```

In [14]:
# write your code here
lst = [1,2,3,4,5,6,7,8]
lst[:5]

[1, 2, 3, 4, 5]

### List Q19

**Problem:** Reverse a list using slicing.

**Expected answer should look like (example):**
```
reversed_list  # lst[::-1]
```

In [15]:
# write your code here
lst = [99,98,97,96,95]
lst[::-1]

[95, 96, 97, 98, 99]

### List Q20

**Problem:** Check if an element exists in a list using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [19]:
# write your code here
lst = [1,2,3,4,5,6]
element = 5
flag =False
for i in lst:
  if i == element:
    flag = True
if flag == True:
  print('True')
else:
  print('False')

True

### List Q21

**Problem:** Concatenate two lists using the `+` operator.

**Expected answer should look like (example):**
```
[combined elements]
```

In [20]:
# write your code here
lst_1 = ['Akash']
lst_2 = ['Mohan']
res = lst_1 + lst_2
print(res)

['Akash', 'Mohan']

### List Q22

**Problem:** Find the sum of all elements in a list.

**Expected answer should look like (example):**
```
numeric_sum
```

In [21]:
# write your code here
lst = [1,2,3,4,5]
sum = 0
for i in lst:
  sum += i
print(sum)

15

### List Q23

**Problem:** Use list comprehension to generate a list of odd numbers from 1 to 10.

**Expected answer should look like (example):**
```
[1, 3, 5, 7, 9]
```

In [22]:
# write your code here
odd_num_list = [i for i in range(1,11) if i%2 != 0]
print(odd_num_list)

[1, 3, 5, 7, 9]

### List Q24

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [23]:
# write your code here
lst = [1,2,3,3,3,4,5,1,1,66,6,6,99]
print(set(lst))

{1, 2, 3, 4, 5, 66, 6, 99}

### List Q25

**Problem:** Convert a string to a list of its characters.

**Expected answer should look like (example):**
```
['h','e','l','l','o']
```

In [24]:
# write your code here
string = 'hello'
print(list(string))

['h', 'e', 'l', 'l', 'o']

### List Q26

**Problem:** Multiply all items in a list using a loop.

**Expected answer should look like (example):**
```
product_value
```

In [25]:
# write your code here
lst = [1,2,3,4]
prod = 1
for i in lst:
  prod = prod*i
print(prod)

24

### List Q27

**Problem:** Sort a list of numbers in ascending order.

**Expected answer should look like (example):**
```
[sorted numbers asc]
```

In [29]:
# write your code here
lst = [34,21,45,61,45,675,32,534]
sorted_lst = sorted(lst)
print(sorted_lst)

[21, 32, 34, 45, 45, 61, 534, 675]

### List Q28

**Problem:** Clear all elements from a list using `clear()`.

**Expected answer should look like (example):**
```
[]
```

In [31]:
# write your code here
lst = [34,21,45,61,45,675,32,534]
lst.clear()
print(lst)

[]

### List Q29

**Problem:** Use a `while` loop to iterate through a list.

**Expected answer should look like (example):**
```
each element printed/processed
```

In [33]:
# write your code here
lst=[34,21,45,61,45,675,32,534]
index = 0
while index<len(lst):
  print(lst[index])
  index += 1

34
21
45
61
45
675
32
534

### List Q30

**Problem:** Use a `for` loop with `enumerate()` to print index and value.

**Expected answer should look like (example):**
```
index: value
```

In [35]:
# write your code here
lst = [1,44,3,2,5,6,7,3]
for index,value in enumerate(lst):
  print(f"value at {index} is {value}".format(index,value))

value at 0 is 1
value at 1 is 44
value at 2 is 3
value at 3 is 2
value at 4 is 5
value at 5 is 6
value at 6 is 7
value at 7 is 3

### List Q31

**Problem:** Find the index of an element in a list using `index()`.

**Expected answer should look like (example):**
```
integer_index
```

In [37]:
# write your code here
lst = [34,21,45,61,45,675,32,534]
lst.index(61)

3

### Tuples Q1

**Problem:** Create a tuple with elements from 1 to 5.

**Expected answer should look like (example):**
```
(1, 2, 3, 4, 5)
```

In [81]:
# write your code here
tup = (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

### Tuples Q2

**Problem:** Access the third element in a tuple.

**Expected answer should look like (example):**
```
value_at_index_2
```

In [82]:
# write your code here
tup = (1,2,3,4,5)
print(tup[2])

3

### Tuples Q3

**Problem:** Slice a tuple to get the last 3 elements.

**Expected answer should look like (example):**
```
(last3,)
```

In [85]:
tupe = (1,2,5,6,32,4,2,346,54)
tupe[-3:]

(2, 346, 54)

### Tuples Q4

**Problem:** Check if an element exists in a tuple using `in`.

**Expected answer should look like (example):**
```
True/False
```

In [41]:
# write your code here
tup = (1,2,3,4)
elem = 3
flag = False
for i in tup:
  if i == elem:
    flag = True
if flag == True:
  print('True')
else:
  print('False')

True

### Tuples Q5

**Problem:** Find the index of an element in a tuple.

**Expected answer should look like (example):**
```
integer_index
```

In [44]:
# write your code here
tup_1 = (1,2,3,5,6,34,22,35)
tup_1.index(22)

6

### Tuples Q6

**Problem:** Count the occurrences of an element in a tuple.

**Expected answer should look like (example):**
```
count_value
```

In [45]:
# write your code here
tup_2 = (22,34,54,22,11,22)
tup_2.count(22)

3

### Tuples Q7

**Problem:** Create a nested tuple and access an element from it.

**Expected answer should look like (example):**
```
nested_value
```

In [46]:
# write your code here
tup_3 = (12,3,4,(1,),23,43)
tup_3[3]

(1,)

### Tuples Q8

**Problem:** Check if two tuples are equal.

**Expected answer should look like (example):**
```
True/False
```

In [47]:
# write your code here
tup_4 = (1,2,3,4)
tup_5 = (5,6,7,8)
if len(tup_4) == len(tup_5):
  print(True)
else:
  print(False)

True

### Tuples Q9

**Problem:** Convert a list to a tuple.

**Expected answer should look like (example):**
```
tuple(list)
```

In [48]:
# write your code here
lst = [34,21,45,61,45,675,32,534]
print(tuple(lst))

(34, 21, 45, 61, 45, 675, 32, 534)

### Tuples Q10

**Problem:** Create a tuple of integers and find its sum.

**Expected answer should look like (example):**
```
sum_value
```

In [49]:
# write your code here
lst = [34,21,45,61,45,675,32,534]
tup_6 = tuple(lst)
sum = 0
for i in tup_6:
  sum += i
print(sum)

1447

### Tuples Q11

**Problem:** Create a tuple using the `tuple()` constructor.

**Expected answer should look like (example):**
```
tuple_from_iterable
```

In [53]:
# write your code here
tup_7=tuple([1,2,3,4,5,6])
print(tup_7)

(1, 2, 3, 4, 5, 6)

### Tuples Q12

**Problem:** Use a `for` loop to iterate through a tuple.

**Expected answer should look like (example):**
```
elements printed/processed
```

In [54]:
# write your code here
lst = [34,21,45,61,45,675,32,534]
tup_8 = tuple(lst)
for i in tup_8:
  print(i)

34
21
45
61
45
675
32
534

### Tuples Q13

**Problem:** Try modifying a tuple element and handle the error.

**Expected answer should look like (example):**
```
TypeError handled
```

In [74]:
# write your code here
my_tuple = (10, 20, 30)

try:
  my_tuple[0] = 5
except TypeError as e:
    print(f"Error: {e}")
    print("Tuples are immutable and do not support item assignment.")

print(f"Original tuple: {my_tuple}")
print("TryError Handled")

Error: 'tuple' object does not support item assignment
Tuples are immutable and do not support item assignment.
Original tuple: (10, 20, 30)
TryError Handled

### Tuples Q14

**Problem:** Unpack a tuple into individual variables.

**Expected answer should look like (example):**
```
a b c ... assigned
```

In [76]:
# write your code here
tup = ('akash','mohan',7277)
name,surname,ph_no = tup
print(name)
print(surname)
print(ph_no)

akash
mohan
7277

### Tuples Q15

**Problem:** Use a tuple inside a dictionary as a key.

**Expected answer should look like (example):**
```
{(1,2): 'value'}
```

In [72]:
# write your code here
dict = {'name':'Akash',
        (1,2): [1,2,3,4]}
print(dict)

{'name': 'Akash', (1, 2): [1, 2, 3, 4]}

### Tuples Q16

**Problem:** Find the length of a tuple using `len()`.

**Expected answer should look like (example):**
```
length_value
```

In [70]:
tupe = (1,2,3,4,5,6)
print(len(tupe))

6

### Tuples Q17

**Problem:** Compare two tuples using relational operators.

**Expected answer should look like (example):**
```
True/False based on lexicographic
```

In [68]:
# write your code here
tup_11 = ('a','b','c')
tup_12 = ('b','c','d')
if tup_11 == tup_12:
  print(True)
else:
  print(False)

False

### Tuples Q18

**Problem:** Use `max()` and `min()` with a tuple.

**Expected answer should look like (example):**
```
max_value, min_value
```

In [65]:
# write your code here
tup_10 = (1,2,3,4,5,6,6532,43,5)
print(min(tup_10))
max(tup_10)

1

6532

### Tuples Q19

**Problem:** Use a tuple inside another tuple and access nested values.

**Expected answer should look like (example):**
```
nested_value
```

In [61]:
# write your code here
tup_10 = (1,2,3,4,5,6,(1,2,3,5),6532,43,5)
print(tup_10[6])

(1, 2, 3, 5)

### Tuples Q20

**Problem:** Check the memory size of a tuple versus a list using `sys.getsizeof()`.

**Expected answer should look like (example):**
```
e.g., tuple_size < list_size (often)
```

In [57]:
# write your code here
import sys
lst = [34,21,45,61,45,675,32,534]
tup_9 = tuple(lst)
print(sys.getsizeof(lst))
print(sys.getsizeof(tup_9))

120
104

### Sets Q1

**Problem:** Create a set with integers from 10 to 15.

**Expected answer should look like (example):**
```
{10, 11, 12, 13, 14, 15} (order may vary)
```

In [ ]:
# write your code here
set1 = {10, 11, 12, 13, 14, 15}
print(set1)

{10, 11, 12, 13, 14, 15}

### Sets Q2

**Problem:** Add multiple elements to a set using `update()`.

**Expected answer should look like (example):**
```
{...includes new elements...}
```

In [ ]:
# write your code here
set1.add(16)
print(set1)

{16, 10, 11, 12, 13, 14, 15}

### Sets Q3

**Problem:** Check if a set is a subset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
# write your code here
set1 = {1,3,4,5,6,7}
set2 = {1,2,3}
set2.issubset(set1)

False

### Sets Q4

**Problem:** Check if a set is a superset of another set.

**Expected answer should look like (example):**
```
True/False
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5,6}
set2 = {4,5,6}
set1.issuperset(set2)

True

### Sets Q5

**Problem:** Find the difference between two sets.

**Expected answer should look like (example):**
```
A - B set
```

In [ ]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6}
print(set1-set2)
set.

{1, 2, 3}

### Sets Q6

**Problem:** Create a set of multiples of 3 from 1 to 15.

**Expected answer should look like (example):**
```
{3, 6, 9, 12, 15}
```

In [ ]:
# write your code here
L = []
for i in range(1,16):
  L.append(3*i)
print(L)
print(set(L))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45]
{33, 3, 36, 6, 39, 9, 42, 12, 45, 15, 18, 21, 24, 27, 30}

### Sets Q7

**Problem:** Remove an element from a set using `discard()`.

**Expected answer should look like (example):**
```
set without that element (no error if missing)
```

In [ ]:
# write your code here
set1 = {83,4,2,3,4,2,14}
set1.discard(180)

### Sets Q8

**Problem:** Check if a set is empty.

**Expected answer should look like (example):**
```
True/False
```

In [78]:
# write your code here
set_1 = {1,2,3}
if len(set_1) == 0:
  print(False)
else:
  print(True)

True

### Sets Q9

**Problem:** Find the maximum element in a set.

**Expected answer should look like (example):**
```
max_value
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5,677,8,55,32}
max(set1)

677

### Sets Q10

**Problem:** Find the minimum element in a set.

**Expected answer should look like (example):**
```
min_value
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5,677,8,55,32}
min(set1)

1

### Sets Q11

**Problem:** Create a frozen set with elements 'a', 'b', and 'c'.

**Expected answer should look like (example):**
```
frozenset({'a','b','c'})
```

In [ ]:
# write your code here
set1 = frozenset([1,2,3,66,3,2,44])
print(set1)

frozenset({1, 2, 3, 66, 44})

### Sets Q12

**Problem:** Check if a frozen set is immutable by attempting to add an element.

**Expected answer should look like (example):**
```
AttributeError shown/handled
```

In [ ]:
# write your code here
set1 = frozenset([1,2,3,66,3,2,44])
print(set1)
set1.add(55)
print(set1)

frozenset({1, 2, 3, 66, 44})

AttributeError: 'frozenset' object has no attribute 'add'

### Sets Q13

**Problem:** Find the union of a frozen set with a regular set.

**Expected answer should look like (example):**
```
combined set
```

In [ ]:
# write your code here
set1 = frozenset([1,2,3,66,3,2,44])
print(set1)
set2 = {2,5,6,43}
print(set1.union(set2))

frozenset({1, 2, 3, 66, 44})
frozenset({1, 2, 3, 66, 5, 6, 43, 44})

### Sets Q14

**Problem:** Convert a list with duplicate elements into a set to remove duplicates.

**Expected answer should look like (example):**
```
{unique_elements}
```

In [ ]:
# write your code here
lst = [1,2,3,1,1,1,5,5,5,6,6]
print(set(lst))

{1, 2, 3, 5, 6}

### Sets Q15

**Problem:** Create a set comprehension to generate squares of numbers from 1 to 5.

**Expected answer should look like (example):**
```
{1,4,9,16,25}
```

In [ ]:
# write your code here
L = [i**2 for i in range(1,6)]
print(L)
print(set(L))

[1, 4, 9, 16, 25]
{1, 4, 9, 16, 25}

### Sets Q16

**Problem:** Use the `intersection()` method on two sets.

**Expected answer should look like (example):**
```
A ∩ B
```

In [ ]:
# write your code here
set1 = {9,4,4,11,23}
set2 = {2,4}
print(set1.intersection(set2))

{4}

### Sets Q17

**Problem:** Use `symmetric_difference()` between two sets.

**Expected answer should look like (example):**
```
(A Δ B) set
```

In [ ]:
# write your code here
set1 = {9,4,4,11,23}
set2 = {2,4}
set1.symmetric_difference(set2)

{2, 9, 11, 23}

### Sets Q18

**Problem:** Iterate over elements of a set using a loop.

**Expected answer should look like (example):**
```
elements printed (order arbitrary)
```

In [ ]:
# write your code here
set1 = {2,4,5,6,3,1,4,5,7}
for i in set1:
  print(i,end=" ")

1 2 3 4 5 6 7

### Sets Q19

**Problem:** Count elements in a set using `len()`.

**Expected answer should look like (example):**
```
integer_count
```

In [ ]:
# write your code here
set1 = {1,2,3,4,5,6}
print(len(set1))

6

### Sets Q20

**Problem:** Copy a set using `copy()` and verify it is separate.

**Expected answer should look like (example):**
```
True when A is B is False; mutation doesn't affect copy
```

In [ ]:
# write your code here
set1 = {1,2,3}


set3 = set1.copy()
print("before updation",set1)
print("Befor Updation",set3)
set1.add(6)
print("After updation",set1)
print("After updation",set3)

before updation {1, 2, 3}
Befor Updation {1, 2, 3}
After updation {1, 2, 3, 6}
After updation {1, 2, 3}

## Submission Note

Dear student, kindly save this file on your computer and fill the assignment form that is there in your WhatsApp group to submit this assignment.